# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**objectives**
- List popular languages for Data Science
  - Some of the commonly used libraries
    -  development environment open source tools used in data science
       -  evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Phyton
2. R
3. Git

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. SciPy
3. Ggplot2
4. Numpy
5. Matplotlib

| Data Science Tools |
|----------|
| Jupyter Notebooks | 
| R studio | 
| Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python ###

In [8]:
# This is a simple arithmetic expression to multiply 3 by 4 and then add 5
result = (3 * 4) + 5
result  # Print the result

17

In [13]:
# This will convert 200 minutes to hours by diving by 60
Hours= 200/60
hours

3.3333333333333335

## Author
Ailar Esmaeilizadeh